body{
	overflow-y: hidden;
}

.container {
	background-color: rgb(243, 235, 224);
	height: 100vh;
	width: 100%;
	padding-top: 50px;
}

.Card {
	width: 90%;
	height: 80%;
	margin: 3px auto;
	background-color: rgb(252 246 239);
	border-radius: 32px;
	padding: 15px;
	display: flex;
    gap: 35px;
    flex-wrap: wrap;
}