.card_card{
	width: 242px;
	background-color: rgb(243, 235, 224);
	padding: 15px;
	border-radius: 32px;
}


.footer_card{
	display: flex;
	justify-content: space-between;
}

.card_card img {
	margin-left: 16%;
}

.card_card h1 {
	margin: 13px 0 27px 0;
	font-size: 20px;
}

.description{
	margin: 30px 0;
}
button {
	cursor: pointer;
}